/*Order: @import, :root, *, Elements, Classes, IDs, Attributes, Selectors, Nesting Selectors, Pseudo-Elements, Pseudo-Classes, At-Rules*/
/*Order: Position, Size, Shape, Color, Function*/

* {
	margin: 0vw;
	padding: 0vw;
	border: 1vw;
	font-size: 5vw;
}
body {
	padding: 2vw;
}
